@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#titlebar-content, #TabsToolbar{
  direction: rtl;
}

#tabbrowser-tabs {
  direction: ltr;
}

.titlebar-placeholder:nth-child(1){
  border: 0px !important;
}

.titlebar-placeholder:nth-child(5){
  display: none
}

#titlebar-buttonbox-container, #titlebar-buttonbox{
  display: flex;
  flex: 1;
}

#titlebar-close{
  order: 3;
}

#titlebar-min{
  order: 2;
}

#titlebar-max{
  transform: translateX(100vw) translateX(-87px);
  order: 1;
}
